@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main#imagem {
       background-position: center 25%;
    }

    section#login #enviar {
        position: relative;
        left: 8px;
    }

    section#login p {
        font-size: 0.7em;
    }

    footer p {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 992px) {
    main#imagem {
        background-position: center 25%;
     }
}